<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @story.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @story.location.name %>
</p>

<p>
  <strong>File:</strong>
  <a href="<%= @story.audio.url %>"><%= @story.audio.url %></a>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
