<p id="notice"><%= notice %></p>

<div class="story_image">
  <img src="<%= @story.image.url(:medium) %>" alt="a picture of the person telling this story" width="600" height="400">
  <%= render 'player' %>
</div>

<p>
  <strong>Date:</strong>
  <%= @story.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @story.location.name %>
</p>

<% if @admin %>
  <%= link_to 'Edit', edit_story_path(@story) %> |
<% end %>
<%= link_to 'Back', stories_path %>
