<!DOCTYPE html>
<html>
<head>
  <title>Retrospective</title>
  <!-- stylesheets -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <!-- used to tell soundmanager where to find the swfs -->
  <script>var smswfurl = "<%= asset_path 'soundmanager2.swf' %>";</script>
  <!-- javascripts -->
  <!-- fixes canvas on IE, I think? -->
  <!--[if IE]><script type="text/javascript" src="/assets/excanvas.js"></script><![endif]-->
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'map' %>
  <!-- meta tags -->
  <%= csrf_meta_tags %>
  <!-- <meta name="viewport" content="width=device-width"> -->
  <%= favicon_link_tag %>

  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOCUZzaaDjArQASNidhUdmqrcU-6N7-lo">
  </script>
  <script>
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</head>
<body class="map_page">
  <!-- used for SM2 -->
  <div id="sm2-container"></div>
  <div class="header">
    <a href="/"><%= image_tag "retro_logo_small.png", size: "360x165" %></a>
  </div>

  <%= yield %>

<!--
  <div class="footer">
    <p>The footer is here</p>
  </div>
-->
</body>
</html>
